/* STYLES FOR SIDEBAR ITEMS */
.ui.sidebar > .item {
  font-size: 1.5em; /* Adjust as needed */
}
.ui.sidebar.slim > .item {
  font-size: 0; /* Hide text when not active */
}

.ui.sidebar.inverted.vertical.menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.ui.sidebar.inverted.vertical.menu > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.ui.sidebar.inverted.vertical.menu > div:hover {
    background-color: #b576f6;
}

.ui.sidebar.inverted.vertical.menu > div > i,
.ui.sidebar.inverted.vertical.menu > div > a {
    /* color: black; */
    color: #717171;
    font-size: 1.5rem;
}

.ui.sidebar.inverted.vertical.menu > div:hover > i,
.ui.sidebar.inverted.vertical.menu > div:hover > a {
    color: white;
}

/* STYLES FOR GRID */
.ui.grid {
  margin: 0 !important;
}

/* STYLES FOR NAVBAR */
.ui.menu .item:first-child {
  flex-grow: 1;
}

/* STYLES FOR MAIN CONTENT */
#mainContent {
  transition: width 0.5s ease-in-out; /* Add a transition to the width property */
}

#mainContent .ui.menu {
  width: 100%; /* Make the navbar fit the width of the browser */
  margin-left: 0;
  margin-right: 0;
}

#mainContent .ui.menu .item {
  margin-left: auto; /* Make the navbar items align to the right */
}

/* STYLES FOR CARDS IN THE UI THREE CARDS CONTAINER */
.ui.three.cards .card {
  width: 30%;
  min-height: 220px;
  padding: 20px;
  background: linear-gradient(to left, #b576f6, #9a4fe9);
  border-radius: 10px;
  color: #fff;
  box-shadow: 5px 6px 6px #0000007d;
}

.ui.three.cards .card::before, 
.ui.three.cards .card::after {
    content: "";
    position: absolute;
    top: -5%;
    right: -15%;
    width: 170px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

.ui.three.cards .card::after {
    top: auto;
    bottom: -5%;
    right: -5%;
}

.ui.three.cards .card:nth-child(2) {
    background: linear-gradient(to left, #6AA5E3, #6866e9);
}

.ui.three.cards .card:nth-child(3) {
    background: linear-gradient(to left, #feb683, #ff8993);
}

.ui.three.cards .card .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.ui.three.cards  {
    margin-top: 30px;
}

.ui.three.cards .card .content .header,
.ui.three.cards .card .content .description,
.ui.three.cards .card .content .meta {
    color: #fff;
}


/* Styles for icons */
.ui.three.cards .card .content i.icon {
    font-size: 3em;
    /* margin-bottom: 50px; */
    margin-bottom: 35px;

    padding: 20px;
    /* background: #00000040; */
    background: #ffffff38;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px white;
}

/* Styles for headers */

.margin-class {
    font-size: 1.5em !important;
}

/* Styles for description and meta */
.ui.three.cards .card .content .description,
.ui.three.cards .card .content .meta {
    font-size: 1em; /* Adjust as needed */
}

.positive {
    color: green;
}

.negative {
    color: red;
}


.ui.sidebar.inverted.vertical.menu > div {
    display: flex;
    align-items: center;
}


.ui .container {
    width: 95% !important;
    border: 1px solid #00000038;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #00000082;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
    .ui.three.cards .card {
      width: 100%;
    }
  
    .ui.menu .item:first-child {
      flex-grow: 0;
    }
  
    .ui.sidebar.inverted.vertical.menu > div {
      flex-direction: column;
    }
  
    .ui.sidebar.inverted.vertical.menu > div > i,
    .ui.sidebar.inverted.vertical.menu > div > a {
      font-size: 1rem;
    }
  }
  
  /* For mobile */
  @media only screen and (min-width: 300px) and (max-width: 601px) {
    
    #tre-card-container {
        margin-top: 30px !important;
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
      }
/* 
      .ui.three.cards .card {
        width: 48%;
        display: flex;
        flex-direction: column;
      }
   */
  
    .ui.menu .item:first-child {
      flex-grow: 0;
    }
  
    /* .ui.sidebar.inverted.vertical.menu > div {
      flex-direction: row;
    } */
  
    .ui.sidebar.inverted.vertical.menu > div > i,
    .ui.sidebar.inverted.vertical.menu > div > a {
      font-size: 1.2rem;
    }


    .ui.menu {
        /* flex-direction: column; */
        flex-direction: row;
        width: 100%;
      }
    
      .ui.menu .item {
        /* Adjust styles as needed to fit smaller screen */
        font-size: 0.8rem;
        /* padding: 0.5em; */
      }

      
  .ui.container.custom-width {
    width: 100% !important;
}
  }
