
.ui.sidebar > .item {
    font-size: 1.5em; /* Adjust as needed */
}
.ui.sidebar.slim > .item {
    font-size: 0; /* Hide text when not active */
}


.ui.grid {
    margin: 0 !important;
}

/* Make the navbar fit the width of the browser */
/* Add a transition to the width property */
#mainContent {
    transition: width 0.5s ease-in-out;
}

#mainContent .ui.menu {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

/* Make the navbar items align to the right */
#mainContent .ui.menu .item {
    margin-left: auto;
}